#maincontent{
  height: fit-content;
  width: fit-content;
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

#hometitle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 30vh;
  width: 30vh;
  background-color: #7700ff;
  border: 2px solid aqua;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#body{
  background-color: #7700ff;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border:2px solid aqua;
  border-radius: 15px;
  padding: 2vw;
}

#about{
  margin: none;
  color: white;
  padding: none;
  overflow-y: scroll;
  opacity: .4;
  border: none;
  animation: fadeout 0.4s backwards;
}

#about:hover{
  animation: fadein 0.4s forwards;
}

@keyframes fadein{
  from{opacity: .4;}
  to{opacity: 1;}
}

@keyframes fadeout{
  from{opacity: 1;}
  to{opacity: .4;}
}
