#logoutHolder{
  margin: none;
  height: 90vh;
  width: 98.85vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check{
  text-align: center;
  height: 100%;
  padding-top: 20vh;
}

.profilebutton{
  width: 40vw;
  height: 100%;
  margin: 5vh;
}

#profilebuttons{
  display: flex;
  justify-content: space-between;
  height: 40vh;
}

*{
  padding: none;
  margin: none;
}

.profilebuttons #logoutbtn{
  border: 1px solid red;
}