#navbarwrapper{
  background-color: rgb(0,74,173);
  opacity: 0;
  margin: none;
  padding: none;
  height: 7.5vh;
  width: calc(100vw - (100vw - 100%));
  transition: width 1s;
  backdrop-filter: blur(3px);
  position: fixed;
  animation: fadein 2s forwards;
  animation-delay: 5s;
  overflow: hidden;
  margin-top: none;
  display: flex;
  justify-content: space-between;
}

#navbarwrapperanimated{
  background-color: rgb(0,74,173);
  opacity: 1;
  margin: none;
  padding: none;
  height: 7.5vh;
  width: calc(100vw - (100vw - 100%));
  transition: width 1s;
  backdrop-filter: blur(3px);
  position: fixed;
  overflow: hidden;
  margin-top: none;
  display: flex;
  justify-content: space-between;
}

@keyframes fadein{
  0%{
    background-color: RGB(0, 74, 173, 0);
  }
  100%{
    background-color: RGB(0, 74, 173, 1);
  }
}

#navbarwrapper:hover{
  height: 8vh;
}

#navbarwrapperanimated:hover{
  height: 8vh;
}

#menuicon{
  opacity: 0;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin: 0;
  height: 7vh;
  width: 7vh;
  float: left;
  animation: fadeinicon 5s forwards;
  animation-delay: 5s;
  padding-left: 0.5vw;
  margin-bottom: 5vh;
}

#menuiconanimated{
  opacity: 1;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin: 0;
  height: 7vh;
  width: 7vh;
  float: left;
  padding-left: 0.5vw;
  margin-bottom: 5vh;
}

#hiddenwrap{
  height: 0;
  width: 0;
  opacity: 0;
}

.hiddenitems{
  height: 0;
  width: 0;
  opacity: 0;
}

#hiddenicon{
  height: 0;
  width: 0;
  opacity: 0;
}

@keyframes fadeinicon{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.9;
  }
}

.items{
  float: left;
  display: block;
  text-align: center;
  margin-bottom: 2vh;
  color: white;
  margin-left: 9.5%;
  height: 100%;
  background-color: RGB(0, 74, 173, 0);
  border: none;
  font-size: x-large;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vh;
  text-decoration: solid;
}

.items:hover{
  color: lightblue;
}

@media screen and (max-width: 768px) {
  .items{
    font-size: x-small;
    width: 16vw;
    margin-right: 0vw;
  }
}